@import "reset.css";
@import "status-bar.css";

.welcome-header {
    margin-top: 145px;
    text-align: center;
}
.welcome-header__title {
    margin-bottom: 40px;
    font-size: 25px;
}

.welcome-header__text {
    width: 50%;
}